[Desktop Entry]
Name=Autostart some KDE-Services
Name[de]=Startet automatisch einige KDE-Dienste
Exec=/usr/bin/kde-services-sidux; true
Type=Application
Icon=html
Terminal=0
