Source: kde-services-sidux
Section: kde
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: kde-services-sidux
Architecture: all
Depends: kcontrol, xbase-clients, kmix, kdebase, kdelibs-bin, procps
Conflicts: kde-services-kanotix
Suggests: knemo
Description: starts mixer and krandrtray on KDE Startup
 Automatic start of certain useful services like mixer and krandrtray.
